@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


:root {
    --color-primary: #6C9BCF;
    --color-danger: #F44336;
    --color-success: #4CAF50;
    --color-warning: #FFC107;
    --color-info: #2196F3;
    --color-info-dark: #7d8da1;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-dark: #212121;
    --color-dark-varient: #2c2c2c;
    --color-light: rgba(132, 139, 200, 0.2);
    --color-background: #F6F6F9;

    --border-radius: 0.5rem;
    --border-radius-sm: 0.25rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --padding: 1.2rem;
    --padding-sm: 0.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
    --box-shadow1: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.dark-mode-variables {
    --color-bakground: #181a1e;
    --color-dark: #edeffd;
    --color-white: #202528;
    --color-dark-varient: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    padding: 0;
    margin: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
    font-family:'Popins', sans-serif;
}

body{
    background-color: var(--color-background);
    color: var(--color-dark);
    width: 100vw;
    height: 100vh;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
}

a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

h1{
    font-size: 1.8rem;
    font-weight: 800;
}

h2{
    font-size: 1.4rem;
    font-weight: 600;
}

h3{
    font-size: 0.9rem;
    font-weight: 500;
}

small{
    font-size: 0.76rem;
}

p{
    color: var(--color-dark-varient);
}

b{
    color: var(--color-dark);
}

.text-muted{
    color: var(--color-info-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}

.info{
    color: var(--color-info);
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto 23rem;
}

aside{
    height: 100dvh;
    background-color: var(--color-white);
}

aside .toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .toggle .logo{
    display: flex;
    gap: 0.5rem;
}

aside .toggle .logo img{
    width: 2rem;
    height: 2rem;
}

aside .toggle .close{
    padding-right: 1rem;
    display: none;
}

aside .menu{
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    height: 88vh;
    position: relative;
    top: 1.5rem;
    transition: all 0.3s ease;
}

aside .menu:hover{
    box-shadow: none;
}

aside .menu a{
    display: flex;
    align-items: center;
    color: var(--color-info-dark);
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    margin-left: 2rem;
    transition: all 0.3s ease;
}

aside .menu a span{
    font-size: 1.6rem;
    transition: all 0.3s ease;
}

aside .menu a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .menu a.active{
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-light);
    margin-left: 0;
}

aside .menu a.active::before{
    content: '';
    width: 6px;
    height: 18px;
    background-color: var(--color-primary);
}

aside .menu a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .menu a:hover{
    color: var(--color-primary);
}

aside .menu a:hover span{
    margin-left: 0.6rem;
}

.nav{
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.nav button{
    display: none;
}

.dark-mode{
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.dark-mode span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-mode span.active{
    background-color: var(--color-primary);
    color: rgb(255, 255, 255);
    border-radius: var(--border-radius-1);
}

@media screen and (max-width: 1200px){
    .container{
        width: 95%;
        grid-template-columns: 7rem auto 23rem;
    }

    aside .logo h2{
        display: none
    }

    aside .menu h3{
        display: none
    }

    aside .menu a{
        width: 5.6rem;
    }

    aside .menu a:last-child{
        position: relative;
        margin-top: 1.8rem;
    }
}

@media screen and (max-width: 768px){
    .container{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 0 var(--padding-1);
    }

    aside{
        position: fixed;
        background-color: var(--color-white);
        width: 15rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        left: -100%;
        display: none;
        animation: showMenu 0.4s ease forwards;
    }
    
    @keyframes showMenu {
        to{
            left: 0;
        }
    }

    aside .logo{
        margin-left: 1rem;
    }

    aside .logo h2{
        display: inline;
    }    

    aside .menu h3{
        display: inline;
    }

    aside .menu a{
        width: 100%;
        height: 3.4rem;
    }

    aside .menu a:last-child{
        position: absolute;
        bottom: 5rem;
    }

    aside .toggle .close{
        display: inline-block;
        cursor: pointer;
    }

    .nav{
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        background-color: var(--color-white);
        padding: 0 var(--padding-1);
        height: 4.6rem;
        width: 100%;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
        margin: 0;
    }

    .nav .dark-mode{
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    .nav button{
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .nav button span{
        font-size: 2rem;
    }
}